.centered {
  margin: auto;
  margin-top: 1%;
  max-width: 35%;
  min-height: 30%;
  padding: 10px;
}
@media screen and (max-width: 900px) {
  .centered {
    max-width: 60%;
  }
}
.stepper-nav-buttons {
  margin-top: 2%
}
